<!DOCTYPE HTML>

<html>

<head>
    <title>looker_campus</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../static/assets/css/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            <header id="header">
                <a href="DatabasePlatform.html" class="logo"><strong>國立臺北大學 校務研究中心</strong><br>
                    CENTER FOR INSTITUTIONAL RESEARCH </a>
                <ul class="icons">
                    <li data-title="IR 辦公室" class="title title2"><a href="https://www.ir.ntpu.edu.tw/"
                                                                    class="icon solid fa-solid fa-building-columns"
                                                                    target="_blank"></a></li>
                    <li data-title="臺北大_首頁" class="title title1"><a href="https://new.ntpu.edu.tw/"
                                                                    class="icon solid fa-house-chimney"
                                                                    target="_blank"></a></li>
                    <li data-title="臺北大_Twitter" class="title"><a href="https://twitter.com/ntpu1949"
                                                                  class="icon brands fa-twitter" target="_blank"></a>
                    </li>
                    <li data-title="臺北大_Facebook" class="title"><a href="https://www.facebook.com/NTPU1949"
                                                                   class="icon brands fa-facebook-f"
                                                                   target="_blank"></a></li>
                    <li data-title="臺北大_Instagram" class="title title5"><a
                            href="https://www.instagram.com/ntpu.edu.tw/" class="icon brands fa-instagram"
                            target="_blank"></a></li>
                    <li data-title="臺北大_linkedin" class="title title6"><a
                            href="https://tw.linkedin.com/school/national-taipei-university"
                            class="icon brands fa-linkedin" target="_blank"></a></li>
                    <li data-title="回上一頁" class="title title2"><a href="javascript:history.go(-1);"
                                                                  class="icon solid fa-solid  fa-left-long"></a></li>
                </ul>
            </header>


            <!-- Section -->


            <section id="content">

                <!-- default  總覽指標-->

                <!--要注意 id, data-width, data-height -->

                <iframe id="originalpage" data-width="600" data-height="800"
                        src="https://lookerstudio.google.com/embed/reporting/2869cf15-a964-4b1b-afa1-038c36b94bd3/page/NlHeD"
                        frameborder="0" style="border:0" allowfullscreen></iframe>
            </section>


        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>


                <ul>
                    <!-- <li><a href="elements.html">資料庫查詢平台</a></li> -->

                    <li>
                        <a href="looker_campus.html" class="opener posit">校務資訊報表平台
                        </a>
                        <span class="opener1 posit"></span>


                        <ul>
                            <li><a href="looker_open.html">校務公開資訊</a></li>
                            <li>
                                <a href="looker_campus.html" class="opener posit">校務資料平台【校內】</a>
                                <span class="opener1 posit"></span>


                                    {% for item in content %}
                                    <span class="link" data-width={{item[2]}} data-height={{item[3]}} data-iframe={{item[4]}} data-type={{item[5]}}>
                                    <p4>{{item[1]}}</p4>
                                    </span>
                                    {% endfor %}
<!--										<p4>學院績效型競爭經費</p4>-->

                            </li>
                        </ul>


                    </li>


                    <li>


                        <!--
                                <ul>
                                    <li><span id="link"></span></li>
                                    <li><span id="link2">Youtube</span></li>
                                </ul> -->
                    </li>


                </ul>
            </nav>


            <!-- Section -->
            <section>
                <header class="major">
                    <h2>Get in touch</h2>
                </header>
                <p>國立臺北大學校務研究中心

                <ul class="contact">
                    <li class="icon solid fa-phone">02-8674-1111 #66383, 66385</li>
                    <li class="icon solid fa-home">237303 新北市三峽區大學路151號<br/>
                        行政大樓3樓
                    </li>
                </ul>
            </section>

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; <a href="https://new.ntpu.edu.tw/">NATIONAL TAIPEI UNIVERSITY</a>, 2023.
                    All rights reserved. </p>
                <p class="copyright">Website design based on the Editorial <a href="https://html5up.net">HTML5
                    UP</a>.Released under the CCA 3.0 license.</p>
            </footer>

        </div>
    </div>

</div>


<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/browser.min.js"></script>
<script src="../static/assets/js/breakpoints.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>

<script>
const result='{{result}}';
let content=result.replace(/&#34;/g,'\"');
content=content.replace(/, /g,",")
content=content.replace(/ /g,"")
content=JSON.parse(content)
for(let i=0;i<content.length;i++){
console.log(content[i].src);
}




</script>
</body>

</html>
