<!DOCTYPE HTML>

<html>

<head>
	<title>公開資訊</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../static/assets/css/main.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="IR_public.html" class="logo"><strong>國立臺北大學 研究發展處 校務研究中心</strong>
						<p style="letter-spacing: normal;margin-top:0em;margin: 0;">
							NTPU Office of Research and Development, CENTER FOR INSTITUTIONAL RESEARCH </p>
					</a>
					<ul class="icons">
						<li data-title="IR 辦公室" class="title title2"><a href="https://www.ir.ntpu.edu.tw/"
								class="icon solid fa-solid fa-building-columns" target="_blank"></a></li>
						<li data-title="臺北大_首頁" class="title title1"><a href="https://new.ntpu.edu.tw/"
								class="icon solid fa-house-chimney" target="_blank"></a></li>
						<!-- <li data-title="臺北大_Twitter" class="title"><a href="https://twitter.com/ntpu1949"
								class="icon brands fa-twitter" target="_blank"></a></li>
						<li data-title="臺北大_Facebook" class="title"><a href="https://www.facebook.com/NTPU1949"
								class="icon brands fa-facebook-f" target="_blank"></a></li>
						<li data-title="臺北大_Instagram" class="title title5"><a
								href="https://www.instagram.com/ntpu.edu.tw/" class="icon brands fa-instagram"
								target="_blank"></a></li>
						<li data-title="臺北大_linkedin" class="title title6"><a
								href="https://tw.linkedin.com/school/national-taipei-university"
								class="icon brands fa-linkedin" target="_blank"></a></li>
						<li data-title="回上一頁" class="title title2"><a href="javascript:history.go(-1);"
								class="icon solid fa-solid  fa-left-long"></a></li> -->
					</ul>
				</header>


				<!-- Section -->


				<section id="content">

					<!-- default 初始畫面選擇抓取到的第一個數值 -->
					<iframe id="originalpage" data-width="{{ content_open.0.2 }}" data-height="{{ content_open.0.3 }}"
						src="{{ content_open.0.4 }}" frameborder="0" style="border:0" allowfullscreen>
					</iframe>


				</section>



			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">
				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>選單</h2>
					</header>



					<ul>
						<li><a href="IR_public.html" class="posit">校務研究資訊平臺</a>
							<i class="firstLayer fa-solid fa-chevron-down fa-chevron-down1680">
								<ul class="secondLayer">
									<li class="preventBubble "><a href="data_open.html" class="preventBubble">公開資訊
											<i class="secondLayer fa-solid fa-chevron-down fa-chevron-down1680">
												<ul class="thirdLayer">
													<li class="preventBubble">
														{% for item in range(0,content_open | length) %}
														<span class="link content_open"
															data-width={{content_open[item][2]}}
															data-height={{content_open[item][3]}}
															data-iframe={{content_open[item][4]}}
															data-type={{content_open[item][5]}} data-page={{item}}
															style="padding-bottom:0">
															<p4>{{content_open[item][1]}}</p4>
														</span>
														{% endfor %}
													</li>
												</ul>
											</i>
										</a>
									</li>

									<li class="preventBubble"><a href="data_campus.html"
											class="opener posit preventBubble">校務資訊</a>
										<!-- 每一頁的 layer 中 class=cantsee 並沒有都放 -->
										<i class="secondLayer fa-solid fa-chevron-down fa-chevron-down1680">
											<ul class="thirdLayer cantsee ">
												<li class="preventBubble">
													{% for item in range(0,content_campus | length) %}
													<span class="link content_campus"
														data-width={{content_campus[item][2]}}
														data-height={{content_campus[item][3]}}
														data-iframe={{content_campus[item][4]}}
														data-type={{content_campus[item][5]}} data-page={{item}}
														style="padding-bottom:0">
														<p4>{{content_campus[item][1]}}</p4>
													</span>
													{% endfor %}
												</li>
											</ul>
										</i>
									</li>

								</ul>
							</i>
						</li>

					</ul>
				</nav>



				<!-- Section -->
				<section>
					<header class="major">
						<h2>聯絡資訊</h2>
					</header>
					<p>國立臺北大學校務研究中心

					<ul class="contact">
						<li class="icon solid fa-phone">02-8674-1111 #66383, 66385</li>
						<li class="icon solid fa-home">237303 新北市三峽區大學路151號<br />
							行政大樓3樓
						</li>
					</ul>
				</section>

				<!-- Footer -->
				<footer id="footer">
					<p class="copyright">&copy; <a href="https://new.ntpu.edu.tw/">NATIONAL TAIPEI UNIVERSITY</a>, 2023.
						All rights reserved. </p>
					<p class="copyright">Website design based on the Editorial. Released under the CCA 3.0 license.</p>
				</footer>

			</div>
		</div>

	</div>


	<!-- Scripts -->
	<script src="../static/assets/js/jquery.min.js"></script>
	<script src="../static/assets/js/browser.min.js"></script>
	<script src="../static/assets/js/breakpoints.min.js"></script>
	<script src="../static/assets/js/util.js"></script>
	<script src="../static/assets/js/main.js"></script>

</body>

</html>