<!DOCTYPE HTML>
<!--

-->
<html>

<head>
	<title>校務研究資訊平臺</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../static/assets/css/main.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="IR_public.html" class="logo"><strong>國立臺北大學 研究發展處 校務研究中心</strong>
						<p style="letter-spacing: normal;margin-top:0em;margin: 0;">
							CENTER FOR INSTITUTIONAL RESEARCH, Office of Research and Development NTPU </p>
					</a>
					<ul class="icons">
						<li data-title="IR 辦公室" class="title title2"><a href="https://www.ir.ntpu.edu.tw/"
								class="icon solid fa-solid fa-building-columns" target="_blank"></a></li>
						<li data-title="臺北大_首頁" class="title title1"><a href="https://new.ntpu.edu.tw/"
								class="icon solid fa-house-chimney" target="_blank"></a></li>
						<!-- <li data-title="臺北大_Twitter" class="title"><a href="https://twitter.com/ntpu1949"
								class="icon brands fa-twitter" target="_blank"></a></li>
						<li data-title="臺北大_Facebook" class="title"><a href="https://www.facebook.com/NTPU1949"
								class="icon brands fa-facebook-f" target="_blank"></a></li>
						<li data-title="臺北大_Instagram" class="title title5"><a
								href="https://www.instagram.com/ntpu.edu.tw/" class="icon brands fa-instagram"
								target="_blank"></a></li>
						<li data-title="臺北大_linkedin" class="title title6"><a
								href="https://tw.linkedin.com/school/national-taipei-university"
								class="icon brands fa-linkedin" target="_blank"></a></li>
						<li data-title="回上一頁" class="title title2"><a href="javascript:history.go(-1);"
								class="icon solid fa-solid  fa-left-long"></a></li> -->
					</ul>
				</header>

				<!-- Content -->
				<section>
					<header class="main">
						<h1>校務研究資訊平臺</h1>
					</header>

					<!-- Content -->

					<p style="z-index: 2">
						「校務研究資訊平臺」整合學校內部的各類資料，並設置角色權限，根據不同使用者的工作職責來訪問相關資料。平臺運用資訊技術，通過互動式的統計圖表呈現資料，包括圓形圖(Pie
						Chart)、直方圖(Histogram)、折線圖(Line Chart)等形式展示學生、教師、課程等多個關鍵教育主題的動態概況，以及學校行政運營情況的統計資料。
					</p>


					<div class="posts">

						<article>
							<a href="data_open.html" target="_blank" class="image"><i
									class="fa-regular fa-folder-open newstyle"></i></a>
							<div class="align-center">
								<h3><a href="data_open.html">公開資訊</a></h3>
							</div>
							<div class="align-center">
								<p>使用「大專校院校務資訊公開平臺」</p>
							</div>

						</article>



						<article>
							<a href="data_campus.html" target="_blank" class="image"><i
									class="fa-solid fa-database newstyle"></i></a>
							<div class="align-center">
								<h3>專案資訊（限校內主管使用）</h3>
							</div>
							<div class="align-center">
								<p>請用<b>臺北大學教職員帳號</b>登入使用</p>
							</div>
						</article>

					</div>

				</section>

			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">



				<nav id="menu">
					<header class="major">
						<h2>校務研究資訊平臺</h2>
					</header>



					<ul>
						<!-- <li><a href="IR_public.html" class="posit">首頁</a>
							<i class="firstLayer fa-solid fa-chevron-down fa-chevron-down1680"> -->
						<!-- 每一頁的 layer 中 class=cantsee 並沒有都放 -->
						<!-- <ul class="firstLayer"> -->
						<li class="preventBubble"><a href="data_open.html"
								class="preventBubble posit font_style">公開資訊</a>
							<i class="firstLayer fa-solid fa-chevron-down fa-chevron-down1680">
								<ul class="secondLayer cantsee">
									<li class="preventBubble">
										{% for item in range(0,content_open | length) %}
										<span class="link content_open" data-width={{content_open[item][2]}}
											data-height={{content_open[item][3]}} data-iframe={{content_open[item][4]}}
											data-type={{content_open[item][5]}} data-page={{item}}
											style="padding-bottom:0">
											<p4>{{content_open[item][1]}}</p4>
										</span>
										{% endfor %}
									</li>
								</ul>
							</i>
							<!-- </a> -->
						</li>

						<li class="preventBubble"><a href="data_campus.html"
								class="opener posit preventBubble font_style">專案資訊（限校內主管使用）</a>

							<i class="firstLayer fa-solid fa-chevron-down fa-chevron-down1680">
								<ul class="secondLayer cantsee">
									<li class="preventBubble">
										{% for item in range(0,content_campus | length) %}
										<span class="link content_campus" data-width={{content_campus[item][2]}}
											data-height={{content_campus[item][3]}}
											data-iframe={{content_campus[item][4]}}
											data-type={{content_campus[item][5]}} data-page={{item}}
											style="padding-bottom:0">
											<p4>{{content_campus[item][1]}}</p4>
										</span>
										{% endfor %}
									</li>
								</ul>
							</i>
						</li>
						<!-- </ul>
					</i>


						</li> -->

					</ul>
				</nav>



				<!-- Section -->
				<section>
					<header class="major">
						<h2>聯絡資訊</h2>
					</header>
					<p>國立臺北大學 研究發展處 校務研究中心

					<ul class="contact">
						<li class="icon solid fa-phone">02-8674-1111 #66383, 66385</li>
						<li class="icon solid fa-home">237303 新北市三峽區大學路151號<br />
							行政大樓3樓
						</li>
					</ul>
				</section>

				<!-- Footer -->
				<footer id="footer">
					<p class="copyright">&copy; <a href="https://new.ntpu.edu.tw/">NATIONAL TAIPEI UNIVERSITY</a>, 2023.
						All rights reserved. </p>
					<p class="copyright">Website design based on the Editorial. Released under the CCA 3.0 license.</p>
				</footer>

			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="../static/assets/js/jquery.min.js"></script>
	<script src="../static/assets/js/browser.min.js"></script>
	<script src="../static/assets/js/breakpoints.min.js"></script>
	<script src="../static/assets/js/util.js"></script>
	<script src="../static/assets/js/main.js"></script>

</body>

</html>